/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
//
// Styles for the site
//
//

body {
  font-size: 95%;
}

main {
  background-color: #ffffff !important;
  background-image: none;
}

table {
  border-collapse: collapse;
  font-size: 95%;
  font-family: Verdana,"DejaVu Sans",sans-serif;
}

tr:nth-of-type(odd) {
  background: #fff !important;
}

tr:nth-of-type(even) {
  background: #fff !important;
}

th {
  font-weight: normal;
  background-color: #fff !important;
  padding: 10px !important;
  border-bottom: 0px solid #E9E9E9 !important;
  border-top: 0px solid #E9E9E9 !important;
}

td, th {
  padding: .5em;
  text-align: left;
}

tr {
  border-bottom: 0px solid white;
}

td, th {
  border-right: 0px solid white;
}

header {
  position: relative;
  width: 100%;
}

#logoImage {
  height: 275px !important;
}

header #header-custom-height-2ndlevel {
  height: 140px !important;
}

.site-name {
  /* display:none; */
}

.parent-site-header {
  height: 34px;
  background-color: #0083d6;
  width: 100%;
  font-size: 110%;
  font-weight: bold;
}

.parent-site-header a {
  color: #ffffff;
  display: block;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.parent-site-header a:hover, .parent-site-header a:active, .parent-site-header a:focus, .parent-site-header a:visited {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: #ffffff;
}

header#department {
  display: none;
}

.mywesternlinks {
  margin: 20px 0px 90px 5px;
}

.tagline {
  position: relative;
  left: 70px;
  font-weight: normal;
}

.set-height {
  min-height: 395px;
  max-height: 395px;
}

footer a {
  color: #ffffff;
  text-align: left;
}

.footer-left {
  margin-left: 3%;
}

.footer-left #footer-left-heading h3 {
  font-size: 1.3em;
  color: #ffffff;
  margin-top: 14px;
}

.footer-left #footer-left-contact-info {
  padding-right: 1.25em;
  margin-top: 1.500em;
  font-size: 0.75em;
}

.footer-left p:first-child, .footer-left dl:first-child {
  font-size: 95%;
  line-height: 1.7;
  margin-bottom: 1.500em;
  display: block;
  clear: both !important;
}

.footer-left #footer-left-contact-info img {
  float: left;
  padding-right: .625em;
}

.footer-left #footer-left-contact-info p {
  margin-bottom: 10;
}

.footer-left #footer-left-contact-info a {
  color: white;
}

.site-header .site-banner {
  max-height: 170px;
  overflow: hidden;
}

.page-title {
  margin-bottom: .5em;
}

.page-title h1 {
  display: none;
}

#landing-page .panel-pane {
  border: 4px 4px 0px 4px !important;
  border-color: #E9E9E9 !important;
  border-style: solid !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
}

#landing-page .pane-node-body, #landing-page .link-wrapper {
  border: 0px !important;
}

#landing-page .panel-pane, .panelizer-view-mode .panel-pane h2 {
  padding-top: 0px !important;
}

/* ****************************************************
                Mobile-size -> 480px
**************************************************** */
@media all and (max-width: 480px) {

  .refphone {
    left: -2.1em;
    position: relative;
  }

  .refphone-text {
    position: relative;
    left: -2.1em;
  }

  .lastUnit {
    display: block;
  }

  #search-box-standalone {
    display: none;
  }

  .page {
    background: #ffffff;
  }

  .unit {
    float: none;
  }

  .main-nav div div .menu li ul li {
    background-color: #0083D6;
    font-size: 1em;
  }

  .main-nav div div .menu li ul li a {
    color: #ffffff;
  }
}
/* ****************************************************
                Mobile-size -> 321px to 360px
**************************************************** */
/* ****************************************************
                Mobile-size -> 361px to 480px
**************************************************** */
@media all and (min-width: 361px) and (max-width: 480px) {

  .page {
    background: #ffffff;
  }
}
/* ****************************************************
                Mobile-size -> 481px to 640px
**************************************************** */
@media all and (min-width: 481px) and (max-width: 640px) {

  .page {
    background: #ffffff;
  }

  .refphone {
    left: -2.1em;
    position: relative;
  }

  .refphone-text {
    position: relative;
    left: -2.1em;
  }

  .lastUnit {
    display: block;
  }

  main {
    margin-top: 130px;
  }

  .unit {
    float: none;
  }
}
/* ****************************************************
              Mobile-size -> 641px to 800px
**************************************************** */
@media all and (min-width: 641px) and (max-width: 800px) {

  #block-menu-block-2 .block-title {
    display: none !important;
  }

  main {
    margin-top: 150px;
  }

  .main-nav div div .menu li a {
    color: blue;
  }

  #logoImage {
    display: none;
  }

  .page-title {
    display: none;
  }

  #block-tb-megamenu-menu-main-nav {
    display: none;
  }

  .page {
    background: #ffffff;
  }

  .refphone {
    left: -2.1em;
    position: relative;
  }

  .refphone-text {
    position: relative;
    left: -2.1em;
  }
}
/* ****************************************************
              Mobile-size <- 800px
**************************************************** */
@media all and (max-width: 800px) {

  .main-nav div div .menu li a {
    color: blue;
  }

  #logoImage {
    display: none;
  }

  .page-title {
    display: none;
  }

  #block-tb-megamenu-menu-main-nav {
    display: none;
  }

  .main-nav .menu {
    width: 91%;
  }
  
.footer-left, .footer-center, .footer-right, .western-contact-info, .western-social-media {
    width: auto !important;
}

}
/* ****************************************************
              Mobile-size -> 800px
**************************************************** */
@media all and (min-width: 801px) {

  #main-menu {
    display: none;
  }
}
/* **************************************************** */

#api_upc_cid3673_iid388 .s-lc-ea-l, .s-lc-ea-tdes, .s-lc-ea-tcat, .s-lc-ea-h3, .s-lc-ea-tpre {
  display: none;
}

#api_upc_cid3673_iid388 td {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

#api_upc_cid3673_iid388 td a {
  padding-top: 0px !important;
}

#api_upc_cid3673_iid388 tr {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: #ececec 0px dotted !important;
  line-height: 19px;
}

#libcaldiv {
  display: none;
}

#site-title {
  padding-left: 250px;
  color: white;
  font-size: 110%;
  text-transform: uppercase;
  line-height: 34px;
}

.tevent {
  font: inherit !important;
  border-bottom: 0 !important;
}

.more-link {
  text-align: left;
  padding-left: 32px;
}

.right-border {
  border-right: 1px solid #efefef;
  padding-right: 18px;
  padding-bottom: 18px;
}

#homepage-slideshow {
  min-height: 360px;
}

#mission-text p {
  font-size: 17px !important;
}

.top-half {
  border-bottom: 1px solid #efefef;
}

#site-title a {
  display: inline;
}

.hrbutton {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #003F87;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 77%;
  text-align: center;
}

.hrbutton:hover {
  text-decoration: none;
  background-color: #0083D6;
}

.hrbutton:active {
  position: relative;
  top: 1px;
}

ul.slides div.flex-caption a {
  font-size: 80% !important;
}

div.flex-caption {
  margin-top: 0 !important;
  background-color: #fff !important;
}

.flexslider {
  border: 0px !important;
}

#speccol-header img {
  margin: 5px auto;
  display: block;
}

#landing-page .panel-pane, .panelizer-view-mode .panel-pane {
    border-color: #e9e9e9 !important;
    border-style: solid !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
}

#landing-page .panel-pane .pane-node-content {
     border-style: none !important;
}

#landing-page .jon-room {
     margin-top: -30px !important;
}

#landing-page .panel-pane, .panelizer-view-mode .panel-pane h2 {
    padding-top: 0 !important;
}

.pane-block h2, .pane-views h2 {
    font-size: 19px;
    margin-top: 0.5em;
}

.view-id-book_of_the_month .pane-entity-field, .panelizer-view-mode .link-wrapper {
border: 0px !important;
}

.speccol-otherblock .pager {
    display: none;
}

/* 30 Mar 2016 */
#search_widget_nwda {
   padding-bottom: 5px;
   margin-left: 16px;
}

.hr-search td {
    border: solid 3px #ececec;
    padding: 10px !important;
}

.covid-attestation {
  display: none !important;
}